.btn {
    background-color: green;
    border-color: #000;
}

.foot {
    position: absolute;
    right: 0;
    /* bottom: 0; */
    left: 0;
    padding: 1rem;
    text-align: center;
}

h2 {
    text-align: center;
}

td {
    text-align: left;
}

body {
    font-family: Verdana, Calibiri, Arial;
    width: 100%;
}

.head {
    margin-left: -27px;
    width: 100%;
}

.ng-timepicker-input {
    width: 100%;
    padding: 4px;
    border: 1px solid #d4d4d4;
    /* display: block; */
}

table {
    margin-left: 5%;
    width: 80%;
}

.width {
    width: 100%;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

th {
    background-color: #666;
    color: white;
}

.drpbtn {
    height: 100px;
    width: 50%;
    overflow: scroll;
}

.topheader {
    background: #C0C2D6;
}

.container {
    height: 750px;
}

.head {
    margin-left: -7px;
    width: 100%;
    margin-top: 11px;
}

.infobar {
    position: relative;
    text-align: center;
    display: block;
    height: 20px;
    line-height: 20px;
    /*padding: 4px 6px;*/
    clear: both;
}

.infobar span:last-child {
    position: absolute;
    right: 6px;
    /* must be equal to parent's right padding */
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
     .viewrpt table{
	 display: block;
        width: 100%;
	}
	 .capchg table{
	 display: block;
        width: 100%;
	}/* Force table to not be like tables anymore */
    
    
    
     .viewrpt thead{
	 display: block;
        width: 100%;
	}
	 .capchg thead{
	 display: block;
        width: 100%;
	}
	 .viewrpt tbody{
	 display: block;
        width: 100%;
	}
	 .capchg tbody{
	 display: block;
        width: 100%;
	}
	 .viewrpt th{
	 display: block;
        width: 100%;
	}
	 .capchg th{
	 display: block;
        width: 100%;
	}
	
	 .viewrpt td{
	 display: block;
        width: 100%;
	}
	 .capchg td{
	 display: block;
        width: 100%;
	}
	
	 .viewrpt tr{
	 display: block;
        width: 100%;
	}
	 .capchg tr{
	 display: block;
        width: 100%;
	}
    
    .viewrpt  thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .viewrpt tr {
        border: 1px solid #ccc;
    }
   .viewrpt td , .capchg td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    
    .capchg  thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .capchg tr {
        border: 1px solid #ccc;
    }
 
    
    
    
    
    
    .width{
        width: 100%;
    }
    
    
    .viewrpt td {
        height: 33px;
    }
    .input {
        height: 33px;
    }
    .input1 {
        height: 38px;
    }
    .ng-timepicker {
        width: 100%;
        display: inline-block;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
    }
   .viewrpt td:before ,.capchg td:before{
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
                                Label the data
                                */
    .capchg td:nth-of-type(1):before {
        content: "Activity";
        font-weight: 900;
    }
    .capchg td:nth-of-type(2):before {
        content: "Input";
        font-weight: 900;
        height: 33px;
    }
    .capchg td:nth-of-type(3):before {
        content: "Decsription";
        font-weight: 900;
    }
    .capchg td:nth-of-type(4):before {
        content: "Action";
        font-weight: 900;
    }
    .ng-timepicker td:nth-of-type(1):before {
        content: "";
        font-weight: 900;
    }
    
    .ng-timepicker td:nth-of-type(2):before {
        content: "";
        font-weight: 900;
    }
    .ng-timepicker td:nth-of-type(3):before {
        content: "";
        font-weight: 900;
    }
    /*
                                Label the data
                                */
    .viewrpt td:nth-of-type(1):before {
        content: "TYPE";
        font-weight: 900;
    }
    .viewrpt td:nth-of-type(2):before {
        content: "FREQ_IN_MIN";
        font-weight: 900;
        height: 33px;
    }
    .viewrpt td:nth-of-type(3):before {
        content: "TIME_OF_DAY";
        font-weight: 900;
    }
    .viewrpt td:nth-of-type(4):before {
        content: "NUMBER_OF_BRANCHES";
        font-weight: 900;
        height: 33px;
    }
    .ng-timepicker{
    position: absolute;
    z-index: 500;
    
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
    .ng-timepicker{
    position: absolute;
    z-index: 500;
    }
}

.viewrpt td {
    height: 33px;
}

.input {
    height: 33px;
}

.input1 {
    height: 38px;
}




/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
    .viewrpt td {
        height: 33px;
    }
    .input {
        height: 33px;
    }
    .input1 {
        height: 38px;
    }
    .ng-timepicker {
        width: 100%;
    }
    .ng-timepicker{
    position: absolute;
    z-index: 500;
    }
}

.centerAllign {
    text-align: center;
    padding-left: 100px;
}







